<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Worm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9E6ACC091C0CAB430030F6CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E6ACC221C0CAB430030F6CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E6ACC2D1C0CAB430030F6CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
